body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-amortizacion , .tablasAmortizacion {
  max-width: 600px;
  padding: 15px;
  margin: 0 auto;
}
.form-amortizacion .form-amortizacion-heading,
.form-amortizacion .checkbox {
  margin-bottom: 10px;
}
.form-amortizacion .checkbox {
  font-weight: normal;
}
.form-amortizacion .form-control {
  display: inline; 
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2px;
  font-size: 16px;
  width: 40%;
}
.form-amortizacion .form-control:focus {
  z-index: 2;
}
.form-amortizacion input[type="text"] , .form-amortizacion select {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}


.divAmort{
  display: inline; 
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.inputs{
    width: 100%
}

.par{
      background-color: #eee;
}

.impar{
 
     background-color: #DBE5F1;
}


.labels{
    width: 30%;
    
}

#buttonSubmit{
    width: 41%;
    margin-left:16% 
}

.table th , .summaryLabel {
    background-color: #4F81BD;
    color: white;
    text-align: center;
}

.periodo{
    text-align: center;
}

.numbers{
    text-align: right;
}

.summaryValue {
    background-color: #D8D8D8;
     text-align: right;
}

